<header>
  <nav class ="navbar">
    <div>
      <a class="nav-link" href="/">
        logo here
      </a>
      <a class="nav-link" href="/post">
        Create a new poll!
      </a>
    </div>

    <div>
      <a class="nav-link" href="/post">
        Check my polls
      </a>
      <a class="nav-link" href="/post">
        login
      </a>
    </div>


  </nav>
</header>
