<header>
  <nav class ="navbar">

    <div class = "logo">
      <div class="fa-3x">
        <i class="fas fa-cog fa-spin"></i>
      </div>
      DECISION<br>MAKER
    </div>

    <div class = "nav-items">
      <a class="nav-link" href="/polls/new">
        <i class="far fa-clipboard"></i>
        Create a new poll
      </a>

      <a class="nav-link" href="/polls">
        <i class="fas fa-poll-h"></i>
        Check my polls
      </a>
    </div>

  </nav>
</header>
