<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"  />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.3.0/font-awesome-animation.css"/>


<header>
  <nav class ="navbar">

  <div class = "logo">
    <div class="fa-2x">
      <i class="fas fa-cog fa-spin"></i>
    </div>
      DECISION<br>MAKER
    </div>

    <div class = "nav-items">
      <a class="nav-link" href="/polls/new">
        <i class="far fa-clipboard"></i>
        Create a new poll
      </a>

      <a class="nav-link" href="/polls">
        <i class="fas fa-poll-h"></i>
        Check my polls
      </a>
    </div>

  </nav>
</header>
