<header>
  <nav class ="navbar">
    <div class = "nav-items">
      <a class="nav-link" href="/">
        logo here
      </a>
      <a class="nav-link" href="/polls/new">
        Create a new poll!
      </a>
    </div>

    <div class = "nav-items">
      <a class="nav-link" href="/polls">
        Check my polls
      </a>
      <a class="nav-link" href="/login">
        login
      </a>
    </div>
  </nav>
</header>
