<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <!-- For Mobile Users-->
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

  <!-- External CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/poll-create.css" type="text/css" />

  <!-- External JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/poll-create.js"></script>
</head>

<body>
  <%- include('partials/_header') %>

  <main>
    <form class="polls-form" id="polls-form" action="/polls" method="POST">

      <div class= "poll-form-item">
        <label>Name</label>
        <textarea class="form-textarea" name="name"   placeholder="Your name"></textarea>
      </div>

      <div class= "poll-form-item">
        <label>Email</label>
        <textarea class="form-textarea" name="email"   placeholder="Your email"></textarea>
      </div>

      <div class= "poll-form-item">
        <label>Poll Title</label>
        <textarea class="form-textarea" name="pollTitle"    placeholder="Your Question"></textarea>
      </div>

      <div class= "poll-form-item">
        <label>Final date to vote:</label>
        <input type="date" name="date">
      </div>

      <div class="poll-form-options" id="options">
      <div class= "poll-form-item">
        <label>option 1</option></option></label>
        <textarea  class="form-textarea" name="label"   placeholder="Option "></textarea>
      </div>

      <div class= "poll-form-item">
        <label>option 1 description</option></option></label>
        <textarea  class="form-textarea"  name="labelDescription"   placeholder="Description"></textarea>
      </div>

      <div class= "poll-form-item">
        <label>option 2</label>
        <textarea  class="form-textarea"  name="label"   placeholder="Option"></textarea>
      </div>
      <div class= "poll-form-item">
        <label>option 2 description</option></option></label>
        <textarea  class="form-textarea"  name="labelDescription"   placeholder="Description"></textarea>
      </div>
      <div class= "poll-form-item">
        <label>option 3</label>
        <textarea  class="form-textarea" name="label"   placeholder="Option "></textarea>
      </div>

      <div class= "poll-form-item">
        <label>option 3 description</option></option></label>
        <textarea  class="form-textarea"  name="labelDescription"   placeholder="Description"></textarea>
      </div>

      <form action="" method="post">
        <div class="input_fields_wrap">
          <button class="add_field_button">Add More Options</button>
        </div>
      </form>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  </main>

</body>

</html>
