<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <!-- For Mobile Users-->
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

  <!-- External CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"  />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.3.0/font-awesome-animation.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/poll-create.css" type="text/css" />

  <!-- External JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/poll-create.js"></script>
  <!-- <script type="text/javascript" src="/scripts/poll-create-char-count.js"></script> -->
</head>

<body>
  <%- include('partials/_header') %>

  <main>
    <form class="polls-form" id="polls-form" action="/polls" method="POST">

      <div class= "poll-form-item">
        <label>Name</label>
        <textarea class="form-textarea" id="poll-form-name" name="name" placeholder="Your name"></textarea>
        <span >characters remaining</span>
        <output name="counter" class="counter" for="poll-form-text">20</output>
      </div>

      <div class= "poll-form-item">
        <label>Email*</label>
        <textarea class="form-textarea" id="poll-form-email" name="email"   placeholder="Your email"></textarea>
        <span >characters remaining</span>
        <output name="counter" class="counter" for="poll-form-text">20</output>
      </div>

      <div class= "poll-form-item">
        <label>Poll Title*</label>
        <textarea class="form-textarea form-needed" id="poll-form-title" name="pollTitle" placeholder="Your Question"></textarea>
        <span >characters remaining</span>
        <output name="counter" class="counter" for="poll-form-text">20</output>
      </div>

      <div class= "poll-form-item">
        <label>Final date to vote* </label>
        <input type="date" id="poll-form-date" name="description">
      </div>

      <div class="poll-form-options" id="options">
      <div class= "poll-form-item">
        <label>option*</option></option></label>
        <textarea  class="form-textarea poll-form-option" name="label"   placeholder="Option "></textarea>
        <span >characters remaining</span>
        <output name="counter" class="counter" for="poll-form-text">20</output>
      </div>

      <div class= "poll-form-item">
        <label>option description</option></option></label>
        <textarea  class="form-textarea poll-form-option-description"  name="labelDescription"   placeholder="Description"></textarea>
        <span >characters remaining</span>
        <output name="counter" class="counter" for="poll-form-text">20</output>
      </div>

      <div class= "poll-form-item">
        <label>option*</label>
        <textarea  class="form-textarea poll-form-option" name="label"   placeholder="Option"></textarea>
        <span >characters remaining</span>
        <output name="counter" class="counter" for="poll-form-text">20</output>
      </div>
      <div class= "poll-form-item">
        <label>option description</option></option></label>
        <textarea  class="form-textarea poll-form-option-description"  name="labelDescription"   placeholder="Description"></textarea>
        <span >characters remaining</span>
        <output name="counter" class="counter" for="poll-form-text">20</output>
      </div>
      <div class= "poll-form-item">
        <label>option*</label>
        <textarea  class="form-textarea poll-form-option" name="label"   placeholder="Option "></textarea>
        <span >characters remaining</span>
        <output name="counter" class="counter" for="poll-form-text">20</output>
      </div>

      <div class= "poll-form-item">
        <label>option description</option></option></label>
        <textarea  class="form-textarea poll-form-option-description"  name="labelDescription"   placeholder="Description"></textarea>
        <span >characters remaining</span>
        <output name="counter" class="counter" for="poll-form-text">20</output>
      </div>
      <p>*Required</p>

      <form class="poll-form-item" action="" method="post">
        <div class="input_fields_wrap">
          <button class="add_field_button">Add More Options</button>
        </div>
      </form>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  </main>

</body>

</html>
