$text-size: 30px;
$header-color: pink;
$link-color:#612897;
$hover-color: #FF008E;

body > header {
  height: 80px;
  width: 100%;
  font-size: $text-size;
  background-color: $header-color;
}

.navbar {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-size: 30px;
  display: flex;
  color: $link-color;
}

.nav-items {
  width: 15em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
 }

.logo {
  font-size: 30px;
  display: flex;
  color: rgb(8, 138, 138);

}
.fa-3x{
  color: rgb(10, 160, 160);
  font-size: 100px;
}
.nav-link {
  text-decoration: none;
  padding: 10px ;
  font-size: 20px;
  align-items: center;
  color: $link-color;
}
.nav-link:hover {
  font-size: 25px;
  color: $hover-color;
}
