// See: https://sass-lang.com/

// body,
// html {
//   margin: 30;
// }

// html {
//   box-sizing: border-box;
// }

body {
  color: white;
  background-color: #09b8b8;
  font-size: 24px;
  font-family: 'Dosis', sans-serif;
  text-shadow: 0.06rem 0.06rem 0 rgba(0,0,0,0.2);
}

.center {
  margin: auto;
  text-align: center;
}

.red-color{
  color: red;
}



