@use 'header';
.polls {
  table-layout: fixed;
  margin: auto;
  margin-top: 20px;
  border-color: black;
  border-width: 10px, 10px, 10px, 10px;
  border-style: solid;
  width: 80%;
  height: 30px;

}
.link {
  text-decoration: none;
  padding: 5px;
  align-items: center;
  color: header.$link-color;
  font-size: 25px;
}

.link:hover {
  font-size: 20px;
  color: header.$hover-color;
}

.creator {
  margin: 2em;
  align-self: center;
  font-size: 30px;
}
// poll-create
// .pool-form-item {
//   display: flex;
//   justify-content: space-between;
//   flex-direction: row;
//   margin-top: 40px;
//   width: 100%;
// }
// .pool-form-textarea {
//   width: 60%;
// }

// .pool-form-button {
//   min-width: 10%;
// }

// Mobile screens
@media only screen and (max-width: 768px),
            screen and (max-height: 768px) {
  body {
    font-size: 18px;
  }
}
