.polls {
  margin: auto;
  margin-top: 20px;
  border-color: black;
  border-width: 5px, 5px, 5px, 5px;
  border-style: solid;
  width: 25%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.polls-form {
  //margin: auto;
  margin-top: 20px;
  width: 25%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

