.vote-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vote-ranking {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20em;
}

.vote-options, .rank-options {
  display: flex;
  flex-direction: column;
}

.vote-options {
  justify-content: space-around;
}

.rank-options {
  width: 15em;
  justify-content: space-around;
}

.vote-items, .rank-items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1em 0;
  // border-color: black;
  // border-width: 5px, 5px, 5px, 5px;
  // border-style: solid;
}
