.vote-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vote-ranking {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vote-options {
  display: flex;
  flex-direction: column;
}

.vote-items {
  display: flex;
  flex-direction: column;
  border-color: black;
  border-width: 5px, 5px, 5px, 5px;
  border-style: solid;
}
